$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-1_5xl: 1440px;
$breakpoint-2xl: 1536px;

$white: #fff;
$black: #000;
$orange: #FB953E;
$grayLight: #C7C7C7;
$grayMedium: #666666;
$grayDark: #333333;
$fontOpenSans: "OpenSans", sans-serif;