@use "../../helpers" as *;

.footer{
  background-color: $black;
  height: 33px;
  
  &--title{
    text-align: center;
    text-transform: uppercase;
    font-size: 0.875rem;

    color: $white;
  }
}